
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>tablemate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
            <link rel="stylesheet" type="text/css" href="css/ie9.css" />
        <![endif]-->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>


        <script src="/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
              
        <div class="loader"></div>

        <nav class="top-bar overlay-bar offscreen-menu" style="padding-top: 30px">
            <div class="container">
                <div class="row" align="center">
                    <div class="nav-left-container">
                        <span class="offscreen-toggle">
                            <i class="icon icon_menu"></i>
                            <span class="hidden-xs">Menu</span>
                        </span>
                    </div>
                    <a href="/" class="btn main-logo nav-logo">tablemate</a>
                    <div class="nav-right-container hidden-xs">
                        <a href="restaurants" class="btn main-btn nav-restaurant-btn">For Restaurants</a>
                        <a href="log-in" class="btn main-btn nav-login-btn">Log In</a>
                        <a href="register" class="btn main-btn nav-signup-btn">Sign Up</a>
                    </div>
                </div><!--end of row-->
                <hr>
            </div><!--end of container-->
        </nav>
        
        <div class="offscreen-container">
            <div class="btn main-btn offscreen-signup-btn">Sign Up</div>

            <ul class="offscreen-links">
                <li><a href="/">Home</a></li>
                <li><a href="features">App Features</a></li>
                <li><a href="restaurants">For Restaurants</a></li>
                <li><a href="about">About</a></li>
                <li><a href="log-in">Log In</a></li>
            </ul>

            <div class="offscreen-badge-container">
                <img class="offscreen-badge" src="/static/img/app_store_badge.png"></img>
                <img class="offscreen-badge" src="/static/img/google_play_badge.png"></img>
            </div>
        </div>

        <div class="main-container">
            <header class="no-pad centered-text" style="height: 600px">
                <div class="background-image-holder about-bg"></div>
                <div class="container align-vertical">
                    <div class="row">
                        <div class="about-banner">
                            <h1>A fresh perspective on dining out</h1>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </header>
            
            <div class="container">
                <div class="row" align="center">

                    <div class="about-content">
                        <p>
                             Tablemate makes dining out easier and more enjoyable by putting everything you need right at your fingertips. Tap a button to get table service, order food, and pay the bill. Food is fun, waiting isn't.
                        </p>
                        <p>
                            Using Tablemate, restaurants can focus on providing the best service possible and customers can focus on what matters most when dining out - enjoying great food with good people. So pull up a chair and join our table.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-footer main-container">
            <div class="badge-container">
                <a href="#"><img src="/static/img/app_store_badge.png"></img></a>
                <a href="#"><img src="/static/img/google_play_badge.png"></img></a>
            </div>

            <div class="footer-links">
                <a href="about">About</a>
                <a href="#">Terms</a>
                <a href="#">Help</a>
            </div>

            <div class="footer-social">
                <a href="#"><i class="icon social_facebook"></i></a>
                <a href="#"><i class="icon social_twitter"></i></a>
                <a href="#"><i class="icon social_instagram"></i></a>
            </div>

            <div class="copyright">© 2016 tablemate</div>
        </div>
                
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.plugin.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/smooth-scroll.min.js"></script>
        <script src="/static/js/skrollr.min.js"></script>
    </body>
</html>