
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>tablemate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
            <link rel="stylesheet" type="text/css" href="css/ie9.css" />
        <![endif]-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

        <script src="/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <div class="loader"></div>
                
        <div class="nav-container-alt">
            <nav class="top-bar overlay-bar offscreen-menu" style="padding-top: 30px; padding-bottom: 30px">
                <div class="container">
                    <div class="row" align="center">
                        <div class="nav-left-container">
                            <span class="offscreen-toggle">
                                <i class="icon icon_menu"></i>
                                <span class="menu-toggle-text hidden-xs">Menu</span>
                            </span>
                        </div>
                        <a href="/" class="btn main-logo-dark nav-logo">tablemate</a>
                        <div class="nav-right-container hidden-xs">
                            <a href="restaurants" class="btn main-btn nav-restaurant-btn">For Restaurants</a>
                            <a href="log-in" class="btn main-btn nav-login-btn">Log In</a>
                            <a href="register" class="btn main-btn nav-signup-btn">Sign Up</a>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </nav>
        </div>
        
        <div class="offscreen-container">
            <div class="btn main-btn offscreen-signup-btn">Sign Up</div>

            <ul class="offscreen-links">
                <li><a href="/">Home</a></li>
                <li><a href="features">App Features</a></li>
                <li><a href="restaurants">For Restaurants</a></li>
                <li><a href="about">About</a></li>
                <li><a href="log-in">Log In</a></li>
            </ul>

            <div class="offscreen-badge-container">
                <img class="offscreen-badge" src="/static/img/app_store_badge.png"></img>
                <img class="offscreen-badge" src="/static/img/google_play_badge.png"></img>
            </div>
        </div>

        <div class="main-container">

            <div class="container app-features-desc">
                <h2>What we bring to the table</h2>

                <div class="row">
                    <div class="feature-images" style="text-align:right">
                        <div class="col-sm-5 feature-1">
                            <img src="/static/img/iphone_frame_light.png"></img>
                        </div>
                        <div class="col-sm-5 feature-2">
                            <img src="/static/img/iphone_frame_dark.png"></img>
                        </div>
                        <div class="col-sm-5 feature-3">
                            <img src="/static/img/iphone_frame_light.png"></img>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="selector selector-1 active-selector">
                            <i class="fa fa-circle-thin fa-circle circle-1"></i>
                            <h1>Request Table Service With One Tap</h1>
                            <p>
                                Need table service? Notify your server with a single tap. No waving or awkwardly trying to make eye contact.
                            </p>
                        </div>
                        <div class="selector selector-2">
                            <i class="fa fa-circle-thin circle-2"></i>
                            <h1>Order Food and Drink From Your Phone</h1>
                            <p>
                                Order food and drink from the app without waiting. Look at special offers, reviews and popular menu items.
                            </p>
                        </div>
                        <div class="selector selector-3">
                            <i class="fa fa-circle-thin circle-3"></i>
                            <h1>Automatic Payment</h1>
                            <p>
                                No more waiting for the bill. Simply tap done when you're ready to leave and be on your way. Splitting the bill is easy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="main-footer main-container">
            <div class="badge-container">
                <a href="#"><img src="/static/img/app_store_badge.png"></img></a>
                <a href="#"><img src="/static/img/google_play_badge.png"></img></a>
            </div>

            <div class="footer-links">
                <a href="about">About</a>
                <a href="#">Terms</a>
                <a href="#">Help</a>
            </div>

            <div class="footer-social">
                <a href="#"><i class="icon social_facebook"></i></a>
                <a href="#"><i class="icon social_twitter"></i></a>
                <a href="#"><i class="icon social_instagram"></i></a>
            </div>

            <div class="copyright">© 2016 tablemate</div>
        </div>
                
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.plugin.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/smooth-scroll.min.js"></script>
        <script src="/static/js/skrollr.min.js"></script>

        <script>
        $(document).ready(function(){
            $('.circle-1').removeClass('fa-circle-thin');
            $('.feature-2').hide();
            $('.feature-3').hide();
        });

        </script>
    </body>
</html>