<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>tablemate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/line-icons.min.css" rel="stylesheet"/>
        <link href="/static/css/elegant-icons.min.css" rel="stylesheet"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/pushy.css" rel="stylesheet"/>
        <link href="/static/css/normalize.css" rel="stylesheet"/>
        <link href="/static/css/custom.css" rel="stylesheet"/>

        <script src="/static/js/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <div id="loader" class="loader"></div>
        <nav class="pushy pushy-left offscreen-menu">
            <a href="register" class="btn btn-default offscreen-signup-btn">Sign Up</a>
            <a href="log-in" class="btn btn-default offscreen-login-btn">Log In</a>
            <hr>
            <ul class="offscreen-menu-links">
                <li><a href="/">Home</a></li>
                <li><a href="for-restaurants">For Restaurants</a></li>
                <li><a href="about">About</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <img src="/static/img/app_store_badge.png" class="offscreen-badge"></img>
            <img src="/static/img/google_play_badge.png" class="offscreen-badge"></img>
        </nav>

        <div class="site-overlay"></div>

        <nav class="main-navbar">
            <div class="container">
                <div class="menu-toggle menu-btn">
                    <i class="icon icon_menu"></i>
                </div>

                <a class="main-logo nav-logo" href="/">tablemate</a>
                
                <div class="navbar-links">
                    <a href="for-restaurants" class="nav-link">For Restaurants</a>
                    {% if 'token' in request.session %}
                    <a href="logout" class="nav-link">Log Out</a>
                    {% else %}
                    <a href="log-in" class="nav-link">Log In</a>
                    {% endif %}
                    <a href="register" class="nav-signup-btn">Sign Up</a>
                </div>

            </div>
        </nav>

        <div class="home-bg">
            <div class="home-banner">
                <h1>You just got served.</h1>
                <p>Reimagine dining out with the <strong>tablemate</strong> app</p>
                <a href="register" class="btn main-btn">Sign Up</a>
            </div>
        </div>

        <div class="app-overview" align="center">
            <div class="overview-header">
                <h1>THE <strong><span>tablemate</span></strong> APP</h1>
                <h2>Request, order, and pay at the restaurant table</h2>
            </div>

            <div class="overview-features">
                <div class="overview-feature" style="margin-top: 25px">
                    <div class="overview-img-container">
                        <img src="/static/img/iphone_frame_light.png"></img>
                    </div>
                    <div id="overview-1" class="overview-feature-text">
                        <h1>One Tap To Request Service</h1>
                        <p>Need table service? Notify your server with a single tap. No waving or awkwardly trying to make eye contact.</p>

                        <div id="learn-1" class="btn btn-default learn-more-toggle">
                            <i id="plus-1" class="icon icon_plus_alt2"></i><span id="learn-text-1">Learn More</span>
                        </div>

                        <div id="more-info-1" hidden>
                            <p class="more-info">Here is some more information.<br>More information<br>More information</p>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="overview-feature">
                    <div class="overview-img-container feature-img-alt">
                        <img src="/static/img/iphone_frame_dark.png"></img>
                    </div>
                    <div id="overview-2" class="overview-feature-text feature-text-alt">
                        <h1>Order From Your Phone</h1>
                        <p>Order food and drink from the app without waiting. Look at special offers, reviews and popular menu items.</p>
                        <div id="learn-2" class="btn btn-default learn-more-toggle">
                            <i id="plus-2" class="icon icon_plus_alt2"></i><span id="learn-text-2">Learn More</span>
                        </div>

                        <div id="more-info-2" hidden>
                            <p class="more-info">Here is some more information.<br>More information<br>More information</p>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="overview-feature">       
                    <div class="overview-img-container">
                        <img src="/static/img/iphone_frame_light.png"></img>
                    </div>
                    <div id="overview-3" class="overview-feature-text">
                        <h1>One Tap To Pay</h1>
                        <p>No more waiting for the bill. Simply tap done when you're ready to leave and be on your way. Splitting the bill is easy.</p>
                        <div id="learn-3" class="btn btn-default learn-more-toggle">
                            <i id="plus-3" class="icon icon_plus_alt2"></i><span id="learn-text-3">Learn More</span>
                        </div>

                        <div id="more-info-3" hidden>
                            <p class="more-info">Here is some more information.<br>More information<br>More information</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="restaurants-join-section">
            <h1><strong>tablemate</strong> for Restaurants<h1>
            <p>Improve efficiency and customer satisfaction with tablemate</p>
            <a href="#" class="btn main-btn">Get Started</a>
        </div>

        <div class="main-footer">
            <div class="badge-container">
                <a href="#"><img src="/static/img/app_store_badge.png"></img></a>
                <a href="#"><img src="/static/img/google_play_badge.png"></img></a>
            </div>
            <div class="footer-links">
                <a href="about">About</a>
                <a href="#">Terms</a>
                <a href="#">Help</a>
            </div>
            <div class="footer-social">
                <a href="#"><i class="icon social_facebook"></i></a>
                <a href="#"><i class="icon social_twitter"></i></a>
                <a href="#"><i class="icon social_instagram"></i></a>
            </div>

            <div class="copyright">© 2016 tablemate</div>
        </div>
				
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/pushy.js"></script>
        <script src="/static/js/home-scripts.js"></script>
    </body>
</html>
				