
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>tablemate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/static/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
            <link rel="stylesheet" type="text/css" href="css/ie9.css" />
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <div class="loader"></div>
                
        <div class="nav-container">
            <nav class="top-bar overlay-bar offscreen-menu">
                <div class="container">
                    <div class="row nav-menu clearfix">
                        <div class="">
                            <a href="/" class="nav-part main-logo navbar-brand" style="">tablemate</a>
                        </div>
                        
                        <div class="text-right navbar-right" style="padding-right:10px">

                            <a href="log-in" class="btn main-btn login-btn hidden-xs">Log In</a>
                            <a href="register" class="btn main-btn signup-btn hidden-xs">Sign Up</a>
                        
                            <span class="offscreen-toggle">
                                <i class="menu-btn icon icon_menu text-white"></i>
                            </span>
                        </div>
                    </div><!--end of row-->
                    
                    <div class="row" style="padding-top: 15px">
                        <div class="col-sm-12">
                            <hr class="no-margin">
                        </div>
                    </div><!--end of row-->
                    
                </div><!--end of container-->
                
                
            </nav>
        
        <div class="offscreen-container">
                <div class="main-logo nav-logo">tablemate</div>

                <ul class="menu">
                    <li><a href="/" target="default">Home</a></li>
                    <li><a href="#services" class="inner-link" target="default">Features</a></li>
                    <li><a href="about" class="inner-link" target="default">About</a></li>
                    <li><a href="#work" class="inner-link" target="default">Terms</a></li>
                    <li><a href="#testimonials" class="inner-link" target="default">Partner</a></li>
                </ul>

                <ul class="social-icons pull-right">
                    <li>
                        <a href="#">
                            <i class="icon social_twitter"></i>
                        </a>
                    </li>
            
                    <li>
                        <a href="#">
                            <i class="icon social_facebook"></i>
                        </a>
                    </li>
            
                    <li>
                        <a href="#">
                            <i class="icon social_instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-container"><a id="home" class="in-page-link"></a>
            <header class="no-pad centered-text" style="height: 550px">
                <div class="background-image-holder parallax-background restaurants-bg"></div>
                
                <div class="container align-vertical">
                    <div class="row">
                        <div align="center">
                            <h1 class="text-white restaurants-mainheader"><strong>tablemate</strong> for Restaurants</h1>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </header>
            
            <section class="duplicatable-content">
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Check out what we're<br>bringing to the table</h1>
                        </div>
                    </div><!--end of row-->
        
                    <div class="row" style="padding-left: 5%; padding-right: 5%">
                        
                        <div class="col-sm-4" align="center">
                            <div class="feature feature-icon-large">
                                <i class="fa fa-bell-o"></i>                                
                                <h5 align="center">ONE TAP TO REQUEST SERVICE</h5>
                                <p>
                                    Need a refill? Have a question about the menu? Notify your waiter without awkwardly trying to make eye contact. Table service is just one tap away.
                                </p>
                            </div>
                        </div><!--end 6 col-->
                        
                        <div class="col-sm-4" align="center">
                            <div class="feature feature-icon-large">
                                <i class="fa fa-map-o"></i>                             
                                <h5 align="center">ORDER FROM YOUR PHONE</h5>
                                <p>
                                    Place your order directly from the app without waiting. View reviews and popular menu items. Browse menu categories or search for specific dishes.
                                </p>
                            </div>
                        </div><!--end 6 col-->

                        <div class="col-sm-4" align="center">
                            <div class="feature feature-icon-large">
                                <i class="fa fa-credit-card"></i>                               
                                <h5 align="center">QUICK &amp; CONVENIENT PAYMENT</h5>
                                <p>
                                    When you're ready to leave, tap done and be on your way. Payment is handled automatically using your account's credit card. Splitting the bill is simple.
                                </p>
                            </div>
                        </div><!--end 6 col-->
                        
                    </div><!--end of row-->
                </div>
            
            </section>
            
            <header class="page-header">
                <div class="background-image-holder parallax-background alt-background">
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="text-center col-sm-11">
                            <h1 class="text-white">Reimagining the dining experience.</h1>
                            
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </header>
        </div>

        <div class="main-footer main-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" align="center" style="padding-top: 25px">

                        <div class="footer-section">
                            <a href="about" class="footer-link">About</a>
                            <a href="#" class="footer-link">Terms</a>
                            <a href="#" class="footer-link">Help</a>
                        </div>

                        <div class="footer-section">
                            <a href="#"><i class="icon social_facebook footer-social"></i></a>
                            <a href="#"><i class="icon social_twitter footer-social"></i></a>
                            <a href="#"><i class="icon social_instagram footer-social"></i></a>
                        </div>

                        <div class="copyright text-center" style="padding-top: 20px">© 2016 tablemate</div>
                    </div>
                </div>
            </div>
        </div>
                
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.plugin.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/smooth-scroll.min.js"></script>
        <script src="/static/js/skrollr.min.js"></script>
    </body>
</html>