<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>tablemate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/line-icons.min.css" rel="stylesheet"/>
        <link href="/static/css/elegant-icons.min.css" rel="stylesheet"/>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/pushy.css" rel="stylesheet"/>
        <link href="/static/css/metro-icons.css" rel="stylesheet"/>
        <link href="/static/css/normalize.css" rel="stylesheet"/>
        <link href="/static/css/custom.css" rel="stylesheet"/>

        <script src="/static/js/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <nav class="pushy pushy-left offscreen-menu">
            <div class="profile-glance-offscreen">
                <h1>Arya</h1>
            </div>
            <ul class="offscreen-menu-links profile-links">
                <hr>
                <li><a href="tables"><span class="mif-spoon-fork"></span> My Tables</a></li>
                <hr>
                <li><a href="profile"><span class="mif-user"></span> Profile</a></li>
                <hr>
                <li><a href="payment"><span class="mif-credit-card"></span> Payment</a></li>
                <hr>
                <li><a href="logout">Log Out</a></li>
            </ul>
        </nav>

        <div class="site-overlay"></div>

        <nav class="main-navbar navbar-alt">
            <div class="container" style="text-align:center" align="center">
                <div class="menu-toggle menu-btn menu-toggle-account">
                    <i class="icon icon_menu"></i>
                </div>

                <a class="main-logo nav-logo-account" href="/">tablemate</a>

                <div class="navbar-links navbar-links-account">
                    <a href="logout" class="nav-link">Log Out</a>
                </div>
            </div>
        </nav>

        <div class="profile-container">
            <div class="info-panel">
                <h2>Arya</h2>
                <ul class="info-panel-links">
                    <hr>
                    <li><a href="meals"><span class="mif-spoon-fork"></span> My Tables</a></li>
                    <hr>
                    <li><a href="profile"><span class="mif-user"></span> Profile</a></li>
                    <hr>
                    <li><a href="payment"><span class="mif-credit-card"></span> Payment</a></li>
                    <hr>
                    <li><a href="logout">Log Out</a></li>
                    <hr>
                </ul>

            </div>
            <div class="main-panel">
                <h1>My Tables</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Restaurant</th>
                            <th>Bill</th>
                            <th class="hidden-entry">City</th>
                            <th class="hidden-entry">Payment Method
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="11%">12/06/2015</td>
                            <td width="30%">Awesome Restaurant</td>
                            <td width="10%">$32.39</td>
                            <td width="15%" class="hidden-entry">Dallas</td>
                            <td width="20%" class="hidden-entry"><i class="fa fa-circle secret-dot"></i><i class="fa fa-circle secret-dot"></i><i class="fa fa-circle secret-dot"></i><i class="fa fa-circle secret-dot"></i><span class="credit-number">1198</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/pushy.js"></script>
    </body>
</html>